.upload-btn {
    background: #607D8B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer
}

.upload-btn:hover {
    background: #455a64
}

.upload-progress-tracker {
    position: fixed;
    z-index: 1000;
    bottom: 1%;
    right: 10px;
    background: #ffffff linear-gradient(45deg, #f4edff, #efffef) left center/100% 100% no-repeat;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 35px #cdcdcd;
    padding: 25px;
    color: #565252;
    transition: background .3s ease
}

.upload-progress-tracker h3 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    color: #222
}

.upload-progress-tracker .upload-progress {
    margin: 10px 0 0;
    font-size: .8em;
    color: #617e8c
}

.upload-progress-tracker .upload-progress span {
    width: 30px;
    padding-right: 15px
}

.upload-progress-tracker .upload-progress span.success-count {
    margin-left: 10px;
    background: url(./completed-indicator.svg) 5px 100%/100% 100% no-repeat
}

.upload-progress-tracker .upload-progress span.failed-count {
    background: url(./failed-indicator.svg) 5px 100%/100% 100% no-repeat
}

.upload-progress-tracker .upload-progress span.paused-count {
    background: url(./paused-indicator.svg) 5px 100%/100% 100% no-repeat
}

.upload-progress-tracker .maximize-btn {
    position: absolute;
    right: 25px;
    top: 35px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: 9999999px;
    background: url(./expand.svg) center center no-repeat;
    opacity: .8;
    transition: opacity .3s ease
}

.upload-progress-tracker .maximize-btn:hover {
    opacity: 1
}

.upload-progress-tracker .uploads-progress-bar {
    position: absolute;
    left: 0;
    top: 85px;
    height: 2px;
    background: #607D8B
}

.upload-progress-tracker .file-progress {
    display: flex;
    align-items: center;
    width: 100%
}

.upload-progress-tracker .file-progress .file-details {
    flex: 1;
    margin: 5px 5px 5px 0;
    width: 100%
}

.upload-progress-tracker .file-progress .file-details p {
    display: flex;
    align-items: center;
    font-size: .8em;
    height: 25px;
    color: #565656;
    margin: 10px 0
}

.upload-progress-tracker .file-progress .file-details p .file-name {
    display: inline-block;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.upload-progress-tracker .file-progress .file-details p .status {
    overflow: hidden;
    text-indent: -9999999px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    float: left
}

.upload-progress-tracker .file-progress .file-details p .status.uploading {
    text-indent: unset;
    width: 35px;
    position: absolute;
    right: 0;
    bottom: 10px;
    text-align: right;
    margin-right: 0
}

.upload-progress-tracker .file-progress .file-details p .status.failed {
    background: url(./failed.svg) center 42%/18px 18px no-repeat
}

.upload-progress-tracker .file-progress .file-details p .status.completed {
    background: url(./completed.svg) center 42%/18px 18px no-repeat
}

.upload-progress-tracker .file-progress .file-details p .status.paused {
    background: url(./paused-indicator.svg) center 42%/18px 18px no-repeat;
    right: auto;
    left: 0
}

.upload-progress-tracker .file-progress .file-details:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ddd;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 1
}

.upload-progress-tracker .file-progress .file-details .progress-bar {
    height: 2px;
    background: #607D8B;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 2
}

.upload-progress-tracker .file-progress .file-actions {
    min-width: 45px;
    display: flex;
    justify-content: center
}

.upload-progress-tracker .file-progress .file-actions button {
    height: 50px;
    text-align: center;
    padding: 36px 0 0;
    font-size: .7em;
    color: #607d8b;
    width: 40px;
    min-width: 40px;
    margin-left: 5px
}

.upload-progress-tracker .file-progress .file-actions button.clear-btn {
    background: url(./clear.svg) center 42%/18px 18px no-repeat
}

.upload-progress-tracker .file-progress .file-actions button.retry-btn {
    background: url(./retry.svg) center 42%/18px 18px no-repeat
}

.upload-progress-tracker .file-progress .file-actions button.cancel-btn {
    background: url(./paused.svg) center 42%/18px 18px no-repeat
}

.upload-progress-tracker .file-progress .file-actions button.resume-btn {
    background: url(./resume.svg) center 42%/18px 18px no-repeat
}